<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">
  <div class="title">
    <h1>Exportando a tabela para excel</h1>
  </div>
  <section>
    <div class="info">
      <div class="titleDiv">
        <h2>Exportando apenas uma tabela</h2>
      </div>
      <div class="desc">
        <p>
          Nesse exemplo vamos exportar essa tabela para excel no formato xlxs
          com 1 workbook apenas
        </p>
      </div>
    </div>

    <table id="table" class="table">
      <thead>
        <tr>
          <th>Teste</th>
          <th>Descrição</th>
          <th>Data</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Teste de Velocidade</td>
          <td>Avalia a rapidez de execução de tarefas</td>
          <td>01/09/2024</td>
          <td>Aprovado</td>
        </tr>
        <tr>
          <td>Teste de Memória</td>
          <td>Mede a capacidade de lembrar informações</td>
          <td>02/09/2024</td>
          <td>Aprovado</td>
        </tr>
        <tr>
          <td>Teste de Raciocínio Lógico</td>
          <td>Verifica a habilidade de resolver problemas lógicos</td>
          <td>03/09/2024</td>
          <td>Reprovado</td>
        </tr>
        <tr>
          <td>Teste de Atenção</td>
          <td>Avalia a concentração e foco</td>
          <td>04/09/2024</td>
          <td>Aprovado</td>
        </tr>
        <tr>
          <td>Teste de Criatividade</td>
          <td>Mede a capacidade de pensar de forma inovadora</td>
          <td>05/09/2024</td>
          <td>Aprovado</td>
        </tr>
      </tbody>
    </table>

    <button class="export" (click)="exportToXLSX()">Exportar tabela</button>
  </section>

  <section>
    <div class="info">
      <div class="titleDiv">
        <h2>Exportando várias tabelas</h2>
      </div>
      <div class="desc">
        <p>
          Nesse exemplo vamos exportar todas as tabelas do site para excel no
          formato xlxs, cada tabela estará em uma planilha/workbook individual.
        </p>
      </div>
    </div>
    <table id="table2" class="table">
      <thead>
        <tr>
          <th>Teste</th>
          <th>Descrição</th>
          <th>Data</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Teste de Velocidade 2</td>
          <td>Avalia a rapidez de execução de tarefas 2</td>
          <td>01/09/2024 2</td>
          <td>Aprovado 2</td>
        </tr>
        <tr>
          <td>Teste de Memória 2</td>
          <td>Mede a capacidade de lembrar informações 2</td>
          <td>02/09/2024 2</td>
          <td>Aprovado 2</td>
        </tr>
        <tr>
          <td>Teste de Raciocínio Lógico 2</td>
          <td>Verifica a habilidade de resolver problemas lógicos</td>
          <td>03/09/2024 2</td>
          <td>Reprovado 2</td>
        </tr>
        <tr>
          <td>Teste de Atenção 2</td>
          <td>Avalia a concentração e foco 2</td>
          <td>04/09/2024 2</td>
          <td>Aprovado 2</td>
        </tr>
        <tr>
          <td>Teste de Criatividade 2</td>
          <td>Mede a capacidade de pensar de forma inovadora 2</td>
          <td>05/09/2024 2</td>
          <td>Aprovado 2</td>
        </tr>
      </tbody>
    </table>

    <button class="export" (click)="exportToXLSXWithWorkbook()">
      Exportar planilhas
    </button>
  </section>
</main>
<router-outlet />
